@model IEnumerable<GarbageCollector.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<p>
    <div class="container p-3">
        <div class="row pt-4">
            <h2 class="text-primary">Index: Customer Lists</h2>
        </div>
        <div class="col=6 text-right">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary w-80">Create New</a>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
=======
>>>>>>> 83feb6469c4fa9f366c1afd62b56713adfc3e5bc
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserId)
            </th>
            <th>Changes</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<<<<<<< HEAD
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularPickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimePickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUserId)
            </td>
            <td>
                <div class="w-100 btn-group" role="group">
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-1">Edit</a>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                </div>
            </td>
        </tr>
=======
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegularPickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimePickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUserId)
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-1">Edit</a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                    </div>
                </td>
            </tr>
>>>>>>> 83feb6469c4fa9f366c1afd62b56713adfc3e5bc
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
