@model IEnumerable<GarbageCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";

}
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPickupConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPickupDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ZipCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RegularPickupDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPickupConfirmed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OneTimePickupDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BillPay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastPickupDay)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-primary">Suspend or Edit</a>
        <hr />
    </td>
</tr>}
    </tbody>
</table>